.navbar-color {
	background-color: black;
}

.climate-dropdown {
	border-radius: 0;
}

.btn-width {
	width: 100%
}

.v-container {
    height: 100vh;
}

.btn-climate-primary {
    color: white;
    background-color: #75cff8;
    border-color: #5bc2c2;
}

.btn-climate-primary:hover {
    color: white;
    background-color: #52c2f6;
    border-color: #5bc2c2;
}

.btn-climate-primary:focus,
.btn-climate-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.hide {
    display: none;
}

.vcenter-container {
    height: calc(100% - 56px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}