.field-vertical {
	height: calc(90% - 56px);
	margin: 0;
	display: flex;
	justify-content: center;
}

.field-container {
	display: flex;
	flex-flow: column nowrap; 
	justify-content: center;
}

#city-container {
	height: 120px;
	padding-right: 20px;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.7);
}

#city-form {
	margin: 0;
}

.city-header {
	text-align: right;
	font-size: 28px;
}

.city-input {
	width: 100%;
	color: white;
	background-color: #343434;
	border: 0;
	padding: 8px 14px 8px 14px;
}

.city-input::-moz-input-placeholder, .city-input::-ms-input-placeholder, .city-input::-webkit-input-placeholder {
	color: white;
}

.city-input:focus {
	outline: none;
}

.city-input:hover {
	outline: none;
	background-color: #303030;
}

#city-autocomplete {
	position: absolute;
	max-height: 280px;
	width: calc(100% - 30px);
	background-color: #dedede;
	overflow-y: scroll;

}

.autocomplete-element {
	padding: 5px;
	cursor: pointer;
}

.autocomplete-element:hover {
	background-color: #cecece;
}




